<div class="card-talk">
  {% if show_title %}
  <div class="card-talk__title">
    <a href="/speakers#{{ speaker.id }}">
      {{ event.title }}
    </a>
    {% if event.slides_url %}
    <small>
      <a href="{{ event.slides_url }}" target="_blank" class="card-talk__slides">Slides</a>
    </small>
    {% endif %}
    {% if event.youtube_id %}
    <small>
      <a href="https://www.youtube.com/watch?v={{ event.youtube_id }}" target="_blank" class="card-talk__video">Video</a>
    </small>
    {% endif %}
  </div>
  {% endif %}
  <div class="card-talk__speaker">
    {% if speaker.photo_url %}
    <figure class="card-talk__profile">
      <a href="/speakers#{{ speaker.id }}">
        <img src="{{ speaker.photo_url }}" {% if speaker.bio %}title="{{ speaker.bio }}"{% endif %} class="card-talk__photo" />
      </a>
    </figure>
    {% endif %}
    <div class="card-talk__info">
      <a href="/speakers#{{ speaker.id }}" class="card-talk__name text-branded">
        <span>{{ speaker.first_name }}</span>&nbsp;{{ speaker.last_name }}
      </a>
      {% if speaker.twitter_handle %}
      <div class="card-talk__social">
        <a class="card-talk__social-link" target="_blank" href="https://twitter.com/{{ speaker.twitter_handle }}">
          {% render "icon", icon: "icon-twitter", class: "card-talk__social-icon" %}
          <span class="card-talk__social-handle">@{{ speaker.twitter_handle }}</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
