<ul class="list-speaker{% if with_info == true %} list-speaker--with-info{% endif %}">
  {% for speaker in speakers %}
  <li class="list-speaker__individual" id="{{ speaker.id }}">
    <a class="list-speaker__link">
      <img class="list-speaker__photo" src="{{ speaker.photo_url }}" alt="{{ speaker.first_name | smartify }} {{ speaker.last_name | smartify }}" />
    </a>
    <div class="list-speaker__name text-branded">
      <span>{{ speaker.first_name }}</span> {{ speaker.last_name }}
    </div>
    {% if with_info == true %}
    <div class="list-speaker__info">
      {% if speaker.social_url %}
      <div class="list-speaker__social">
        <a class="list-speaker__social-link" target="_blank" href="{{ speaker.social_url }}">
          {% if speaker.social_type == "twitter" %}
          {% render "icon", icon: "icon-twitter", class: "list-speaker__social-icon" %}
          {% elsif speaker.social_type == "mastodon" %}
          {% render "icon", icon: "icon-mastodon", class: "list-speaker__social-icon" %}
          {% endif %}
        </a>
      </div>
      {% endif %}
      <p class="list-speaker__bio">{{ speaker.bio }}</p>
    </div>
    {% else %}
      {% if speaker.mini_bio %}
      <small class="list-speaker__bio list-speaker__bio--mini">
        {{ speaker.mini_bio }}
      </small>
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
